.addressItemOption {
  display: flex;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 10px;
  box-shadow: 0 1px 1px 0 rgb(204 204 204 / 50%);
}

.addressItemOptionActive {
  background-color: #f1f7ff;
}

.addressItemIcon {
  flex: none;
  display: flex;
  margin-right: 10px;
}

.deliveryGroup {
  order: 4;
  width: 100%;
  margin-top: 16px;
}

.shippingSectionTitle {
  color: #999;
  font-size: 13px;
  margin-bottom: 8px;
  overflow: hidden;
}

.leanShippingGroupList {
  border: 1px solid #eee;
  border-radius: 4px;
  overflow: hidden;
  border-color: #eeeeee;
  margin: 0;
}

.leanShippingOption {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #eee;
  color: #999;
  display: flex;
  font-size: 12px;
  line-height: 1.3;
  padding: 12px;
}

.leanShippingIcon {
  flex: none;
  display: flex;
  margin-right: 12px;
}

.leanShippingText {
  border-right: 1px solid #eee;
  flex: auto;
}
.leanShippingTextLabel {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}
.optionPrice {
  position: relative;
  margin-left: auto;
  padding-left: 10px;
  min-width: 60px;
  text-align: center;
}
.submitPaymentButton {
  margin-top: 10px;
}
.svg {
  display: block;
}
