.b2b-purchase-order-number {
  margin-bottom: 15px;
}
.b2b-purchase-order-number input[type='text'] {
  height: 30px;
  line-height: 30px;
  max-height: initial;
  display: inline-block;
  padding: 0px 10px;
  border-radius: 4px;
  border: 1px solid #cbcbcb;
  outline: initial;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  width: 100%;
}
.b2b-purchase-order-number input[type='text']:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.4);
}

.client-profile-data a.link-box-edit,
button.vtex-omnishipping-1-x-buttonEditAddress,
button.vtex-omnishipping-1-x-buttonCreateAddress,
.orderform-template-holder #payment-data .payment-group-item {
  display: none;
}
body.change-profile .client-profile-data a.link-box-edit,
body.edit-shipping button.vtex-omnishipping-1-x-buttonEditAddress,
body.add-shipping button.vtex-omnishipping-1-x-buttonCreateAddress,
.orderform-template-holder
  #payment-data
  .payment-group-item[data-b2b-allowed='true'] {
  display: block;
}

.item-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.v-custom-payment-item-wrap {
  border: none !important;
}
.v-custom-payment-item-wrap.active {
  border: 1px solid !important;
}
